fastapi
langchain
youtube_transcript_api
pymongo
python-dotenv
langchain_groq
pillow
langchain_community
nltk
PyPDF2
validators
pyjwt
python-multipart
bs4
tldextract
werkzeug
uvicorn
phidata
duckduckgo-search
uvicorn[standard]
google-generativeai
opencv-python
google.genai
PyMuPDF
