langchain
langchain_community
streamlit
validators
langchain-groq
python-dotenv
langserve
fastapi
uvicorn
pytube
bs4
tldextract
youtube-transcript-api
unstructured
pinecone-client
PyJWT
Werkzeug
pymongo
python-multipart
PyPDF2
pillow
setuptools
scikit-learn
python-socketio[asyncio_server]
fastapi-socketio
phidata
packaging
duckduckgo-search
crewai
openai
groq
pydantic
youtube-search-python
